In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import scipy.stats as stats
from plotly.subplots import make_subplots

In [ ]:
df1 = pd.read_csv("//content//Credit_Risk_01.xlsx.csv")
df2 = pd.read_csv("//content//Credit_Risk_02.xlsx.csv")
df3 = pd.read_csv("//content//Features_Target_Description.xlsx.csv")

In [ ]:
df1.sample(5)

In [ ]:
df2.sample(5)

In [ ]:
df1.info()

In [ ]:
df2.info()

In [ ]:
print(df1.shape)
print(df2.shape)

In [ ]:
print(df1.isnull().sum()/len(df1)*100)
print(df2.isnull().sum()/len(df2)*100)

In [ ]:
print(df1.duplicated().sum())
print(df2.duplicated().sum())

  Important Features
  
1. CC_TL
2. Age_Oldest_TL
3. Age_Newest_TL
4. Home_TL
5. Tol_Missed_Pmnt
6. Total_TL
7. PL_TL
8. Approved_Flag
9. Credit_Score
10. GL_Glag
11. HL_Flag
12. AGE
13. GENDER
14. EDUCATION
15. MARITALSTATUS
16. NETMONTHLYINCOME
17. max_unsec_exposure_inPct
18. time_since_recent_payment

In [ ]:
print(df2["Approved_Flag"].unique())
print(df2["MARITALSTATUS"].unique())
print(df2["EDUCATION"].unique())
print(df2["NETMONTHLYINCOME"].unique())
print(df2["Credit_Score"].unique())
print(df1["Age_Newest_TL"].unique())
print(df1["Age_Oldest_TL"].unique())

In [ ]:
df1 = df1.loc[df1["Age_Oldest_TL"]!=-99999]

In [ ]:
# remove null values columns

columns_to_be_remove=[]

for i in df2.columns:
    if df2.loc[df2[i] == -99999].shape[0] > 10000:
        columns_to_be_remove.append(i)

In [ ]:
df2 = df2.drop(columns_to_be_remove, axis=1)

In [ ]:
for i in df2.columns:
    df2 = df2.loc[df2[i]!= -9999]

In [ ]:
# checking comon column names

for i in list(df1.columns):
    if i in list(df2.columns):
        print(i)

In [ ]:

# PROSPECTID = coustomerID

In [ ]:
# Marge the two dataframes, inner join  so that no null are present

df = pd.merge(df1, df2, how = "inner", on=["PROSPECTID"])

In [ ]:
# Age distplot
plt.figure(figsize=(14,3))
plt.subplot(121)
sns.distplot(df["AGE"])
plt.show()


plt.subplot(121)
stats.probplot(df["AGE"], dist="norm", plot=plt)
plt.show()

In [ ]:
# Age distplot
plt.figure(figsize=(14,3))
plt.subplot(121)
sns.distplot(df["Credit_Score"])
plt.show()
plt.subplot(121)
stats.probplot(df["Credit_Score"], dist="norm", plot=plt)
plt.show()

In [ ]:
df.info()

In [ ]:
df

In [ ]:
df['Credit_Score'].plot(kind='hist',bins=50)

In [ ]:
df['max_recent_level_of_deliq'].plot(kind='hist',bins=10)

In [ ]:
df['EDUCATION'].value_counts().plot(kind="pie", autopct="%0.1f%%")

In [ ]:
sns.heatmap(pd.crosstab(df["Approved_Flag"], df["Credit_Score"], normalize="columns")*100)

In [ ]:
pd.crosstab(df["Approved_Flag"], df["GENDER"], normalize = "columns")*100

In [ ]:
pd.crosstab(df["Approved_Flag"], df["EDUCATION"], normalize = "columns")*100

In [ ]:
sns.heatmap(pd.crosstab(df["Approved_Flag"], df["GENDER"], normalize="columns")*100)

In [ ]:
df[df["Approved_Flag"] == 'P1']['Credit_Score'].plot(kind="kde", label ="p1")
df[df["Approved_Flag"] == 'P2']['Credit_Score'].plot(kind="kde", label ="p2")
df[df["Approved_Flag"] == 'P3']['Credit_Score'].plot(kind="kde", label ="p3")
df[df["Approved_Flag"] == 'P4']['Credit_Score'].plot(kind="kde",  label ="p4")
plt.legend()
plt.show()

In [ ]:
df[df["Credit_Score"] > 700]

In [ ]:
pd.crosstab(df["Total_TL"], df["Approved_Flag"])

In [ ]:
df.sample(10)